DATABASE_URL="postgresql://postgres.nbglbabdllmylkvncgjs:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
SUPABASE_URL="https://nbglbabdllmylkvncgjs.supabase.co"
SUPABASE_ANON_KEY="sb_publishable_ZGh26YzN-ch0xFrJC9FQhA_K03C7RJd"
PORT=3333
